<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>
    <div id="root">
        <div class="header">
            <i class="fas fa-search" @click="changeInput"></i>
            <i class="fas fa-video" @click="showMoviesOrTV = true"></i>
            <i class="fas fa-tv" @click="showMoviesOrTV = false"></i>
            <div class="comming">
                
                <i class="fas fa-theater-masks"></i>
                <p>comming soon</p>
            </div>
            <a href=""><img src="https://fontmeme.com/permalink/210413/0a43aa36584f2895324a0006b42b5d1a.png" alt="netflix-font" border="0"></a>
            <div class="inputDes" v-if="inputSearch == true">
                <input  type="text" placeholder="Search Movie or Tv Show" v-model="search" @keyup.enter="searchInDb()" @keyup.delete="deleteDb()">
                <i class="fas fa-times" @click="changeInput"></i>
            </div>
            
        </div>

        <div class="found" v-if="search != ''" >
            <div class="movies">
                <h3 v-if=" clicked == true &&  searchFilterMovies.length" >
                    Movies
                </h3>
                <div class="locandine_search">
                    <div v-for="movie in searchFilterMovies" class="locandina_search" v-if="movie.poster_path != null">
                        <div class="poster"  :style="`background-image: url('https://image.tmdb.org/t/p/w154/${movie.poster_path}');`"></div>
                        <div class="overlay_search">
                            <span>Titolo: {{movie.title}} </span>
                            <span>Titolo originale: {{movie.original_title}} </span>
                            <span >Lingua: <img  :src="`https://www.unknown.nu/flags/images/${movie.original_language}-100`">   </span>
                            <span>Voto:
                                <i v-for="number in Math.round(movie.vote_average/2)"  class="fas fa-star"></i>  
                                <i v-if="Math.round(movie.vote_average/2) != 5" v-for="num in (5 - Math.round(movie.vote_average/2))"     class="far fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="tvShow">
                <h3 v-if=" clicked == true && searchFilterTv.length " >
                    Tv Show
                    
                </h3>

                <div class="locandine_search">
                    <div v-for="tv in searchFilterTv" class="locandina_search" v-if="tv.poster_path != null ">
                        <div class="poster"  :style="`background-image: url('https://image.tmdb.org/t/p/w154/${tv.poster_path}');`"></div>
                        <div class="overlay_search">
                            <span>Titolo: {{tv.name}} </span>
                            <span>Titolo originale: {{tv.original_name}} </span>
                            <span>Lingua: <img  :src="`https://www.unknown.nu/flags/images/${tv.original_language}-100`">  </span>
                            <span>Voto:
                                <i v-for="number in Math.round(tv.vote_average/2)"  class="fas fa-star"></i>  
                                <i v-if="Math.round(tv.vote_average/2) != 5" v-for="num in (5 - Math.round(tv.vote_average/2))"     class="far fa-star"></i>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="popular" v-if="search == '' " >
            <div class="movies" v-if="showMoviesOrTV == true">    
                <iframe  width="100%" height="100%" :src="`https://www.youtube.com/embed/${keys[indexVideo]}?autoplay=1&controls=0&fs=0&loop=1&rel=0&modestbranding=0&showinfo=0&${mute}`" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"></iframe>
               
                <div class="locandine">
                    <div v-for="movie in popularMovies" class="locandina">
                        <div class="poster"  :style="`background-image: url('https://image.tmdb.org/t/p/w154/${movie.poster_path}');`"></div>
                        
                        <div class="overlay" :style="`background-image: url('https://image.tmdb.org/t/p/w1280/${movie.backdrop_path}');`">
                            
                            <span class="title">{{movie.title}} </span>
                            <div class="stars_release_lang">
                                <div class="rating">
                                    <i v-for="number in Math.round(movie.vote_average/2)"  class="fas fa-star"></i>  
                                <i v-if="Math.round(movie.vote_average/2) != 5" v-for="num in (5 - Math.round(movie.vote_average/2))" class="far fa-star"></i>
                                </div>
                                <p> {{ dateRelease(movie.release_date) }} </p>
                                <img  :src="`https://www.unknown.nu/flags/images/${movie.original_language}-100`">
                            </div>
                            <div class="overview">
                                <p>{{movie.overview}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="tvShow" v-if="showMoviesOrTV == false">
               

                <div class="locandine">
                    <div v-for="tv in popularTvShows" class="locandina">
                        <div class="poster"  :style="`background-image: url('https://image.tmdb.org/t/p/w154/${tv.poster_path}');`"></div>

                        <div class="overlay" :style="`background-image: url('https://image.tmdb.org/t/p/w1280/${tv.backdrop_path}');`">
                            <span class="title">{{tv.name}} </span>
                            <div class="stars_release_lang">
                                <div class="rating">
                                    <i v-for="number in Math.round(tv.vote_average/2)"  class="fas fa-star"></i>  
                                    <i v-if="Math.round(tv.vote_average/2) != 5" v-for="num in (5 - Math.round(tv.vote_average/2))" class="far fa-star"></i>
                                </div>
                                <p> {{ dateRelease(tv.first_air_date) }} </p>
                                <img  :src="`https://www.unknown.nu/flags/images/${tv.original_language}-100`">
                            </div>
                            <div class="overview">
                                <p>{{tv.overview}}</p>
                            </div>
                        </div>

                        <!-- <div class="overlay" :style="`background-image: url('https://image.tmdb.org/t/p/w1280/${tv.backdrop_path}');`">
                            <span class="title">{{tv.name}} </span>
                            <div class="stars_release_lang">
                                <div class="rating">
                                    <i v-for="number in Math.round(tv.vote_average/2)"  class="fas fa-star"></i>  
                                    <i v-if="Math.round(tv.vote_average/2) != 5" v-for="num in (5 - Math.round(tv.vote_average/2))"     class="far fa-star"></i>
                                </div>
                                <p> {{ dateRelease(tv.first_air_date) }} </p>
                                <img  :src="`https://www.unknown.nu/flags/images/${tv.original_language}-100`">
                            </div>
                            <div class="overview">
                                <p>{{tv.overview}}</p>
                            </div>
                           
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>