@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Rubik', sans-serif;
    
}



#root{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.959);
    display: flex;
    -webkit-display: flex;
    
    position: relative;
    overflow: hidden;
    
}

.header{
    background-color: black;
    width: 5%;
    height: 100%;
    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    
}

.header i{
    font-size: 24px;
    margin-top: 20px;
}

.header i:hover{
    cursor: pointer;
}

.header .comming{
    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    
}

.header .comming p, .header .comming i{
    color: rgb(53, 53, 53);
}

.header i.fa-video{
    padding-top: 25px;
}

i.fa-video, i.fa-tv, i.fa-theater-masks{
    font-size: 18px;
}

i.fa-video:hover, i.fa-tv:hover{
    color:#DB202C;
}


.header a img{
    width: 150px;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px;
}

.header .inputDes i{
    display: none;
    
    
}

.header input{
    margin-left: auto;
    justify-self: center;
    z-index: 30;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

input{
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    border: 0;
    padding: 2px 10px;
    width: 400px;
    height: 25px;
}

input:focus{
    outline: none;
}

.found{
    margin-top: 50px;
    
}

.popular{
    overflow: hidden;
    display: flex;
    -webkit-display: flex;
    align-items: flex-end;
    position: relative;
}

.popular, .found{
    width: 100%;
    height: 100%;
    
}


  
video{
	position:absolute;
	top: 0;
	left:0;
	width:100%;
	height:100%;
    transform: scale(1.75, 1.75);  
    /* clip-path: polygon(0 17%, 100% 17%, 100% 70%, 0 70%); */
}


.popular h3, .found h3{ 
    padding-left: 15px;
    margin-top: 10px;
}
.locandine{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 230px;
    width: 95vw;
    display: flex;
    -webkit-display: flex;
    overflow-x: scroll;
    
}

.found{
    overflow-y: scroll;
}

.found .movies{
    margin: 0 auto;
}

.locandine_search{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    -webkit-display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    
    
}

.locandina_search{
    width: 150px;
    height: 210px;
    display: flex;
    -webkit-display: flex;
    margin: 0 10px;
    position: relative;
    flex-basis: auto;
   
}

.locandina{
    width: 150px;
    height: 210px;
    display: flex;
    -webkit-display: flex;
    margin: 0 10px;
    z-index: 20;
}

.poster{
    z-index: 10;
    background-size: cover;
    width: 150px;
    height: 200px;
}

.overlay{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-shadow: inset 350px 10px 350px 250px rgb(0, 0, 0);
}

.overlay_search{
    width: 100%;
    height: 95%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.712);
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
}

.overlay_search span img{
    width: 24px;
}

.overlay .title{
    margin-top: 50px;
    color: #DB202C;
    font-weight: bolder;
    font-size: 32px;
}

.overlay span, .stars_release_lang, .overview{
   
    margin-left: 30px;
    padding: 10px 0;
    font-size: 13px;
    
}

.overview{
    font-size: 16px;
}

.stars_release_lang{
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    max-width: 150px;
}

.stars_release_lang img{
    z-index: 10;
    width: 24px;
}

.locandina:hover{
    z-index: 1;
}

.locandina:hover .overlay{
    display: flex;
    -webkit-display: flex;
    z-index: 1;
}

.locandina_search:hover .overlay_search{
    display: flex;
    -webkit-display: flex;
    z-index: 10;
}

::-webkit-scrollbar {
    
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    
    background: #36363683;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    
    margin-left: 20px;
    border-radius: 10px;

}

i.fas.fa-star, i.far.fa-star{
    color: yellow;
}


/* MEDIA */

@media screen and (max-width: 768px) {

    .header{
        width: 12%;
        -webkit-display: flex;
    }
    .header i{
        font-size: 18px;
    }

    .header a img{
        width: 100px;
        position: fixed;
        z-index: 10;
        top: 10px;
        right: 40px;
    }
    .inputDes{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
        width: 100%;
        height: 100%;
        display: flex;
        -webkit-display: flex;
        background-color: black;
    }

    .header .inputDes i{
        display: flex;
        -webkit-display: flex;
        margin-left: auto;
        padding-right: 15%;
        padding-top: 2px;
    }

    .header input{
        width: 60%;
        margin-left: auto;
        justify-self: center;
        
    }

    .overlay{
        background-position: center;
        box-shadow: inset 70px 50px 150px 500px rgba(0, 0, 0, 0.849);
    }

    .overlay .title{
        margin-top: 80px;
        font-size: 26px;
    }

    .overlay span, .stars_release_lang, .overview{
        margin: 0 10px;
        font-size: 13px;
        
    }
    .overview{
        font-size: 14px;
        height: 290px;
        overflow-y: scroll;
    }
    video{
    
        transform: scale(5.75, 5.75);
        /* clip-path: polygon(0 17%, 100% 17%, 100% 70%, 0 70%); */
    }
    
}

.display-none{
    display: none;
}