*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#root{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.input-search{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    margin-top: 20px;
    border-radius: 10px;
    color: black;
    border: 0;
    padding: 2px 10px;
    width: 400px;
    height: 25px;
}

input:focus{
    outline: none;
}

.popular, .found{
    width: 100%;
    height: 90%;
    
}



.popular h3, .found h3{ 
    padding-left: 15px;
    margin-top: 10px;
}
.locandine{
    margin-top: 10px;
    height: 230px;
    width: 100vw;
    
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.locandina{
    width: 150px;
    height: 200px;
    display: flex;
    margin: 0 10px;
    position: relative;
}

.poster{
    background-size: cover;
    width: 150px;
    height: 200px;
}

.overlay{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.712);
    flex-direction: column;
    justify-content: center;
}

.overlay span{
    margin-left: 5px;
    padding: 10px 0;
    font-size: 13px;
}

span img{
    width: 24px;
}

.locandina:hover .overlay{
    display: flex;
}

::-webkit-scrollbar {
    
    width: 7px;
    height: 4px;
   }
   ::-webkit-scrollbar-thumb {
       
    background: #757575;
    border-radius: 10px;
   }

   ::-webkit-scrollbar-track{
    margin-left: 20px;
    border-radius: 10px;
    
   }